extra_code.txt
keys.txt
keys_extra.txt
archive/
videos/
data/acc_arrays/archive/
data/acc_arrays/test/
data/selected_poses/archive/
data/study_results/archive/
data/study_results/emails/
scripts/__pycache__/
scripts/.ipynb_checkpoints/
scripts/archive/
stats/locating_profile.r
.DS_Store
